name: hatirla_beni
description: A new Flutter project.


publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: '>=2.18.5 <3.0.0'


dependencies:
  flutter:
    sdk: flutter


  
  cupertino_icons: ^1.0.2

  #core
  flutter_riverpod: ^2.3.2
  kartal: ^2.8.0
  equatable: ^2.0.5

  #cache
  shared_preferences: ^2.0.20

  #firebase
  firebase_core: ^2.7.1
  cloud_firestore: ^4.4.3
  firebase_auth: ^4.3.0
  firebase_ui_auth: ^1.3.2
  firebase_ui_oauth_google: ^1.0.24
  google_sign_in: ^6.0.2
  firebase_storage: ^11.1.2

  #utility
  image_picker: ^0.8.7+4
  firebase_ui_localizations: ^1.2.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^3.0.0


 
  flutter_lints: ^2.0.0


flutter:

 
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
